/* You can add global styles to this file, and also import other style files */

.view {
    width: 100vh;
    height: 100vh;
}

/* .back-img {
    background-image: url("./assets/layered-waves-haikei.svg");
} */