<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <div class="toolbar nav" role="banner">
    <a style="text-decoration: none; font-size: 25px" href="http://localhost:4200/"><i
        class="white-icon fa-solid fa-microchip"></i>
      <b class="font-col">&nbsp;<td>Keshava Kommaraju</td></b></a>
  </div>
  
  <div class="img-div container">
    <img class="img-responsive" src="assets/avataaars.png" width="150" height="150" /><br />
  </div>
  
  <div class="container center-2">
    <h3 class="text-4xl mb-4 font bold">Hello, My name is <b style="font-size: 30pt;">Keshav.</b></h3>
    <h5 class="font-serif italic text-2xl">
      I am a Full-stack Web Developer/Software Engineer based in Telangana,
      India.<br />
      Get to know more about me, here.
  
      <a href="https://github.com/k3shav17"><i style="font-size: 25px; text-decoration: none"
          class="fa-brands fa-github white-icon"></i></a>
      &nbsp;|&nbsp;
  
      <a href="https://www.linkedin.com/in/keshava-rao-54451b164/"><i style="font-size: 25px; "
          class="fa-brands fa-linkedin white-icon"></i></a>
    </h5>
    <br />
    <br>
    <section class="container card:hover">
      <div class="row">
        <div class="col-md-4">
          <div class="card card-1">
            <i style="font-size: 35px; color:#009985; align-self: center;" class="fa-solid fa-server"></i>
            <br>
            <h3><b>Back-End</b></h3>
            <!-- <p>Java 8 & 11, Spring Boot 5, C-Sharp, Rust </p> -->
            <ul>
              <li>Java 8 & 11</li>
              <li>Spring Boot 5</li>
              <li>C-sharp</li>
              <li>Rust(basics)</li>
            </ul>
            <hr>
            <h3 style="text-align: center;"><b>Dev-tools</b></h3>
  
            <p style="text-align: center;">Eclipse, Terminal, VSCode</p>
            <p style="text-align: center;">Postman, Github, Git</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-1">
            <i style="font-size: 35px; color:#009985; align-self: center;" class="fa-solid fa-code"></i>
            <br>
            <h3>Front-End</h3>
            <!-- <p>JavaScript & ES6, Angular, HTML, CSS</p> -->
            <ul>
              <li>JavaScript</li>
              <li>Angular</li>
              <li>HTML5, CSS3</li>
            </ul>
            <hr>
  
            <h3 style="text-align: center;"><b>Dev-tools</b></h3>
            <p style="text-align: center;">Bootstrap, VSCode, Github</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-1"><i style="align-self: center; font-size: 35px; color: #009985;"
              class="fa-solid fa-desktop"></i><br>
            <h3>Comp-savvy</h3>
  
            <!-- <p>Linux&nbsp;<i class="fa-brands fa-linux"></i>, Windows&nbsp;<i class="fa-brands fa-windows"></i></p> -->
  
            <ul>
              <li>Linux&nbsp;<i class="fa-brands fa-linux"></i></li>
              <li>Windows&nbsp;<i class="fa-brands fa-windows"></i></li>
            </ul>
            <hr>
            <h3 style="text-align: center;">Scripting</h3>
            <p style="text-align: center;">Shell | Bash scripting</p>
          </div>
        </div>
      </div>
  
    </section>
    <div style="background-color: #09152f;" class=" container">
  
      <table class="table-center" style="width: 25%;">
        <tr>
  
          <a href="https://www.google.com"><i class="fab fa-solid fa-circle-envelope"></i></a>
  
  
          <td><a href="mailto:keshavrao1745@gmail.com subject=Email from your website"><i
                style="font-size: 25px; text-decoration: none;" class="white-icon fa-solid fa-inbox"></i></a></td>
  
  
          <td> <a href="https://twitter.com/k3shav_17"><i style="font-size: 25px; text-decoration: none;"
                class="fa-brands twitter fa-twitter"></i></a></td>
  
          <td><a href="https://github.com/k3shav17"><i style="font-size: 25px; text-decoration: none;"
                class="fa-brands fa-github white-icon"></i></a></td>
          <td>
            <a href="https://www.linkedin.com/in/keshava-rao-54451b164/"><i style="font-size: 25px; "
                class="fa-brands fa-linkedin linkedin"></i></a>
          </td>
        </tr>
  
      </table>
    </div>
  
    <div>
      <ul style="list-style: none;">
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
      </ul>
    </div>
    <!-- <div style="background-color: #09152f; justify-content: center;" class="table-center container">
      <p>Made in <i style="color: red;" class="fa-solid fa-heart"></i> with Coding. Thanks for visiting.</p>
    </div> -->
  </div>